<div class="alert alert-block alert-warning">
Employee Attrition Classification Dataset
</div>

<div class="alert alert-block alert-danger">
<!-- info, danger, warning, success -->
Import <b> Librraries</b>
</div>

In [184]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import joblib

<div class="alert alert-block alert-info">
<!-- info, danger, warning, success -->
<b>1.<b> Data Loading
</div>

In [185]:
Dataset = pd.read_csv("test.csv")


<div class="alert alert-block alert-info">
<!-- info, danger, warning, success -->
<b>2.<b> Data Exploring
</div>

In [186]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14900 entries, 0 to 14899
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Employee ID               14900 non-null  int64
 1   Age                       14900 non-null  int64
 2   Gender                    14900 non-null  object
 3   Years at Company          14900 non-null  int64
 4   Job Role                  14900 non-null  object
 5   Monthly Income            14900 non-null  int64
 6   Work-Life Balance         14900 non-null  object
 7   Job Satisfaction          14900 non-null  object
 8   Performance Rating        14900 non-null  object
 9   Number of Promotions      14900 non-null  int64
 10  Overtime                  14900 non-null  object
 11  Distance from Home        14900 non-null  int64
 12  Education Level           14900 non-null  object
 13  Marital Status            14900 non-null  object
 14  Number of Dependents      14900 non-null  int64
 15  Job Level                 14900 non-null  object
 16  Company Size              14900 non-null  object
 17  Company Tenure            14900 non-null  int64
 18  Remote Work               14900 non-null  object
 19  Leadership Opportunities  14900 non-null  object
 20  Innovation Opportunities  14900 non-null  object
 21  Company Reputation        14900 non-null  object
 22  Employee Recognition      14900 non-null  object
 23  Attrition                 14900 non-null  object
dtypes: int64(8), object(16)
memory usage: 2.7+ MB

In [187]:
Dataset.describe()

,Employee ID,Age,Years at Company,Monthly Income,Number of Promotions,Distance from Home,Number of Dependents,Company Tenure
count,14900.000000,14900.000000,14900.000000,14900.000000,14900.000000,14900.000000,14900.000000,14900.000000
mean,37339.022081,38.385235,15.592416,7287.306040,0.834362,49.927315,1.659329,55.603624
std,21453.129293,12.097904,11.133792,2156.737934,0.996511,28.702307,1.545401,25.352807
min,5.000000,18.000000,1.000000,1226.000000,0.000000,1.000000,0.000000,2.000000
25%,18825.500000,28.000000,7.000000,5633.750000,0.000000,25.000000,0.000000,36.000000
50%,37433.000000,38.000000,13.000000,7332.000000,1.000000,50.000000,1.000000,56.000000
75%,55857.500000,49.000000,23.000000,8852.000000,2.000000,75.000000,3.000000,75.000000
max,74471.000000,59.000000,51.000000,15063.000000,4.000000,99.000000,6.000000,127.000000

In [188]:
Dataset.shape

(14900, 24)

# Determine the Null colums

In [189]:
Dataset.isnull().sum()

Employee ID                 0
Age                         0
Gender                      0
Years at Company            0
Job Role                    0
Monthly Income              0
Work-Life Balance           0
Job Satisfaction            0
Performance Rating          0
Number of Promotions        0
Overtime                    0
Distance from Home          0
Education Level             0
Marital Status              0
Number of Dependents        0
Job Level                   0
Company Size                0
Company Tenure              0
Remote Work                 0
Leadership Opportunities    0
Innovation Opportunities    0
Company Reputation          0
Employee Recognition        0
Attrition                   0
dtype: int64

# To print rows

In [190]:
Dataset.head()

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,52685,36,Male,13,Healthcare,8029,Excellent,High,Average,1,...,1,Mid,Large,22,No,No,No,Poor,Medium,Stayed
1,30585,35,Male,7,Education,4563,Good,High,Average,1,...,4,Entry,Medium,27,No,No,No,Good,High,Left
2,54656,50,Male,7,Education,5583,Fair,High,Average,3,...,2,Senior,Medium,76,No,No,Yes,Good,Low,Stayed
3,33442,58,Male,44,Media,5525,Fair,Very High,High,0,...,4,Entry,Medium,96,No,No,No,Poor,Low,Left
4,15667,39,Male,24,Education,4604,Good,High,Average,0,...,6,Mid,Large,45,Yes,No,No,Good,High,Stayed

# To print bottom rows

In [191]:
Dataset.tail()

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
14895,16243,56,Female,42,Healthcare,7830,Poor,Medium,Average,0,...,0,Senior,Medium,60,No,No,No,Poor,Medium,Stayed
14896,47175,30,Female,15,Education,3856,Good,Medium,Average,2,...,0,Entry,Medium,20,No,No,No,Good,Medium,Left
14897,12409,52,Male,5,Education,5654,Good,Very High,Below Average,0,...,4,Mid,Small,7,No,No,No,Good,High,Left
14898,9554,18,Male,4,Education,5276,Fair,High,Average,0,...,3,Mid,Large,5,No,No,No,Poor,High,Stayed
14899,73042,59,Female,48,Education,3774,Good,High,Below Average,1,...,4,Mid,Large,118,No,No,No,Good,Very High,Left

# To Print number of rows

In [192]:
print('rows: ', Dataset.shape[0])

rows:  14900

# To print number of colums

In [193]:
print('columns: ', Dataset.shape[1])

columns:  24

# Filling all null values using mean/median/mode

In [194]:
Dataset = Dataset.fillna(Dataset.mean)

In [195]:
Dataset = Dataset.fillna(Dataset.median)

In [196]:
Dataset = Dataset.fillna(Dataset.mode)

# Print datatype of each column:

In [197]:
Dataset.dtypes

Employee ID                  int64
Age                          int64
Gender                      object
Years at Company             int64
Job Role                    object
Monthly Income               int64
Work-Life Balance           object
Job Satisfaction            object
Performance Rating          object
Number of Promotions         int64
Overtime                    object
Distance from Home           int64
Education Level             object
Marital Status              object
Number of Dependents         int64
Job Level                   object
Company Size                object
Company Tenure               int64
Remote Work                 object
Leadership Opportunities    object
Innovation Opportunities    object
Company Reputation          object
Employee Recognition        object
Attrition                   object
dtype: object

In [198]:
features = ['Monthly Income', 'Job Satisfaction', 'Work-Life Balance']
target = 'Attrition'

X = Dataset[features]
y = Dataset[target]

In [199]:
y = pd.factorize(Dataset['Attrition'])[0]

<div class="alert alert-block alert-info">
<!-- info, danger, warning, success -->
<b>3.<b> Data Pre-Processing
</div>

<div class="alert alert-block alert-success">
<!-- info, danger, warning, success -->
<b>3.1<b> Manage Null values
</div>

# Checking null values

In [200]:
np.sum(pd.isnull(Dataset))

C:\Users\HP\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

Employee ID                 0
Age                         0
Gender                      0
Years at Company            0
Job Role                    0
Monthly Income              0
Work-Life Balance           0
Job Satisfaction            0
Performance Rating          0
Number of Promotions        0
Overtime                    0
Distance from Home          0
Education Level             0
Marital Status              0
Number of Dependents        0
Job Level                   0
Company Size                0
Company Tenure              0
Remote Work                 0
Leadership Opportunities    0
Innovation Opportunities    0
Company Reputation          0
Employee Recognition        0
Attrition                   0
dtype: int64

# Checking unique values of specific column

In [201]:
Dataset["Gender"].unique()

array(['Male', 'Female'], dtype=object)

# Filling null values

In [202]:
num = Dataset["Remote Work"].mode()[0] 
Dataset["education"] = Dataset["Remote Work"].fillna(num)

In [203]:

numeric_cols = Dataset.select_dtypes(include=['int64', 'float64']).columns
Dataset[numeric_cols] = Dataset[numeric_cols].fillna(Dataset[numeric_cols].median())


categorical_cols = Dataset.select_dtypes(include=['object']).columns
Dataset[categorical_cols] = Dataset[categorical_cols].fillna(Dataset[categorical_cols].mode().iloc[0])

<div class="alert alert-block alert-success">
<!-- info, danger, warning, success -->
<b>3.2<b> Data Types Manage
</div>

In [204]:

for col in Dataset.columns:
    if Dataset[col].dtype == "object":
        if Dataset[col].str.isdigit().all():
            Dataset[col] = Dataset[col].astype(int)

# Encoding Categorical Columns

In [205]:
label_enc = LabelEncoder()

for col in categorical_cols:
    Dataset[col] = label_enc.fit_transform(Dataset[col])

# Feature Scaling (Except Target Attrition)

In [206]:
scaler = StandardScaler()

numeric_cols = Dataset.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Target column ko scaling se nikaal do
if "Attrition" in numeric_cols:
    numeric_cols.remove("Attrition")

# Scale
Dataset[numeric_cols] = scaler.fit_transform(Dataset[numeric_cols])

# handling outliers

In [207]:

from sklearn.preprocessing import LabelEncoder

features = ['Monthly Income', 'Job Satisfaction', 'Work-Life Balance']

# Initialize encoder
le = LabelEncoder()

for col in features:
    if Dataset[col].dtype == 'object':
        Dataset[col] = le.fit_transform(Dataset[col])

# Splitting into x and y

In [208]:
 
from sklearn.preprocessing import LabelEncoder

X = Dataset[features].copy()   

le = LabelEncoder()
for col in ['Job Satisfaction', 'Work-Life Balance']:
    X.loc[:, col] = le.fit_transform(X[col])

In [209]:
numeric_features = ['Age', 'Years at Company', 'Monthly Income', 'Number of Promotions',
                    'Distance from Home', 'Number of Dependents', 'Company Tenure']

categorical_features = ['Job Role', 'Work-Life Balance', 'Job Satisfaction',
                        'Performance Rating', 'Overtime', 'Education Level', 'Marital Status',
                        'Job Level', 'Company Size', 'Remote Work', 'Leadership Opportunities',
                        'Innovation Opportunities', 'Company Reputation', 'Employee Recognition']
X = Dataset[numeric_features + categorical_features]
y = Dataset['Attrition']

# Converting Object columns into Int columns

In [210]:
cat_columns = x.select_dtypes(['object']).columns 
x[cat_columns] = x[cat_columns].apply(lambda x: pd.factorize(x)[0])

In [211]:
cat_columns = x.select_dtypes(include=['object']).columns # identify categorical colums
print(cat_columns)

Index([], dtype='object')

In [212]:


x[cat_columns] = x[cat_columns].apply(lambda col: pd.factorize(col)[0])

# Save preprocessed csv

In [213]:


Dataset.to_csv("preprocessed.csv", index=False)

print("Preprocessing Completed Successfully!")
print("Saved as: preprocessed.csv")

 
Dataset.head()

Preprocessing Completed Successfully!
Saved as: preprocessed.csv

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition,education
0,0.715350,-0.197168,0.917858,-0.232850,-0.075427,0.343908,-1.560957,-0.896355,-0.737485,0.166223,...,0.254392,-1.567815,-1.325484,-0.485167,-0.22779,-0.438287,1.362008,0.990751,1,-0.485167
1,-0.314837,-0.279829,0.917858,-0.771768,-1.435207,-1.263203,0.556800,-0.896355,-0.737485,0.166223,...,-1.075121,-0.136941,-1.128261,-0.485167,-0.22779,-0.438287,0.212406,-1.358794,0,-0.485167
2,0.807228,0.960097,0.917858,-0.771768,-1.435207,-0.790251,-0.502079,-0.896355,-0.737485,2.173294,...,1.583905,-0.136941,0.804529,-0.485167,-0.22779,2.281611,0.212406,-0.184021,1,-0.485167
3,-0.181659,1.621390,0.917858,2.551560,0.604463,-0.817144,-0.502079,1.566280,1.341117,-0.837312,...,-1.075121,-0.136941,1.593422,-0.485167,-0.22779,-0.438287,1.362008,-0.184021,0,-0.485167
4,-1.010237,0.050818,0.917858,0.755166,-1.435207,-1.244192,0.556800,-0.896355,-0.737485,-0.837312,...,0.254392,-1.567815,-0.418257,2.061147,-0.22779,-0.438287,0.212406,-1.358794,1,2.061147

In [214]:
le_target = LabelEncoder()
y = le_target.fit_transform(y)

In [215]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numeric_features),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
    ]
)

X_processed = preprocessor.fit_transform(X)

<div class="alert alert-block alert-info">
<!-- info, danger, warning, success -->
<b>4.<b> Train test and Splitting
</div>

# Splitting Data into train and test

In [216]:


 
X_train, X_test, y_train, y_test = train_test_split(
    X_processed, y, test_size=0.3, random_state=42, shuffle=True
)
 
print("x_train shape:", X_train.shape)
print("x_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

x_train shape: (10430, 54)
x_test shape: (4470, 54)
y_train shape: (10430,)
y_test shape: (4470,)

<div class="alert alert-block alert-info">
<!-- info, danger, warning, success -->
<b>5.<b> Choose and Train the Model
</div>

In [217]:
rf_model = RandomForestClassifier(
    n_estimators=300,
    max_depth=15,
    min_samples_split=10,
    min_samples_leaf=5,
    random_state=42,
    class_weight='balanced'
)
rf_model.fit(X_train, y_train)

RandomForestClassifier(class_weight='balanced', max_depth=15,
                       min_samples_leaf=5, min_samples_split=10,
                       n_estimators=300, random_state=42)

<div class="alert alert-block alert-info">
<!-- info, danger, warning, success -->
<b>6.<b> Testing & Prediction
</div>

In [218]:
new_employee = pd.DataFrame([{
    'Age': 35,
    'Years at Company': 5,
    'Monthly Income': 5000,
    'Number of Promotions': 1,
    'Distance from Home': 10,
    'Number of Dependents': 2,
    'Company Tenure': 6,
    'Job Role': 'Healthcare',
    'Work-Life Balance': 'Good',
    'Job Satisfaction': 'High',
    'Performance Rating': 'Average',
    'Overtime': 'No',
    'Education Level': 'Bachelor',
    'Marital Status': 'Single',
    'Job Level': 'Entry',
    'Company Size': 'Medium',
    'Remote Work': 'No',
    'Leadership Opportunities': 'No',
    'Innovation Opportunities': 'No',
    'Company Reputation': 'Good',
    'Employee Recognition': 'Medium'
}])

# Transform and predict
new_employee_processed = preprocessor.transform(new_employee)
prediction = rf_model.predict(new_employee_processed)
prediction_label = le_target.inverse_transform(prediction)
print("\nPredicted Attrition for new employee:", prediction_label[0])

Predicted Attrition for new employee: 1

<div class="alert alert-block alert-info">
<!-- info, danger, warning, success -->
<b>7.<b> Accuracy Score
</div>

In [219]:
y_pred = rf_model.predict(X_test)

accuracy = metrics.accuracy_score(y_test, y_pred)
print("\nRandom Forest Accuracy: {:.2f}%".format(accuracy*100))
print(metrics.classification_report(y_test, y_pred))

Random Forest Accuracy: 74.30%
              precision    recall  f1-score   support

           0       0.72      0.75      0.74      2128
           1       0.77      0.73      0.75      2342

    accuracy                           0.74      4470
   macro avg       0.74      0.74      0.74      4470
weighted avg       0.74      0.74      0.74      4470

<div class="alert alert-block alert-info">
<!-- info, danger, warning, success -->
<b>8.<b> Save Model
</div>

In [220]:
joblib.dump(rf_model, 'model.pkl')
joblib.dump(preprocessor, 'preprocessor.pkl')
print("\nModel and preprocessor saved successfully!")

Model and preprocessor saved successfully!